<div class="row">
 	
	<div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading with-border">
            	<div class="row">
            		<div class="col-md-4 col-md-offset-0">
            			<h2 class="text-success">Consulta General Parcelas</h2>
            		</div>
	                
              	</div>
            </div>
            <!-- /.box-header -->
            <div class="panel-body">

            	<div class="row"> 
            		<br>
            		<div class="col-md-4 col-md-offset-0">
            			<div class="info-box">
                			<span class="info-box-icon bg-yellow"><i class="fa fa-lemon-o"></i></span>
                			<div class="info-box-content">
                  				<span class="info-box-number">Produccion Total</span>
                  				<span class="info-box-text">Kilos: <b>{{ parcProdTotal.kilos }}</b></span>
                  				<span class="info-box-text">Rejas: <b>{{ parcProdTotal.rejas }}</b></span>
                			</div><!-- /.info-box-content -->
              			</div>
            		</div>
            		
            		<div ng-repeat="parcProd in parcProdInd.produccion">
            			<div class="col-md-4 col-md-offset-0">
            				<div class="info-box">
                				<span class="info-box-icon bg-green"><i class="fa fa-lemon-o"></i></span>
                				<div class="info-box-content">
                  					<span class="info-box-number">{{ parcProd.pcl_alias }}</span>
                  					<span class="info-box-text">Kilos:  <b>{{ parcProd.kilos}}</b></span>
                  					<span class="info-box-text">Rejas:  <b>{{ parcProd.rejas }}</b></span>
                				</div><!-- /.info-box-content -->
              				</div>
            			</div>
            			
            		</div>

            	</div>
            	<br><br><br>
              <div class="row">
                <div class="col-md-6 col-md-offset-0" >
                  <div google-chart chart="myChartObject" style="height:350px;"></div>
                </div>

                <div class="col-md-6 col-md-offset-0">
                  <div google-chart chart="myChartObjectBarra" style="height:350px;"></div>
                </div>
              </div>
              
              
              	<br><br>

          
        	</div>
        	<div class="panel-footer clearfix">
             
              </ul>
            </div>
           
		</div>
	</div>
		
</div>