<div class="row">

	<div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading with-border">
            	<div class="row col-md-12 input-group">
            		<div style="float: left" class="col-md-3">
            			<h2 class="text-success">Compras</h2>
            		</div>
                    <div style="float: right" class="col-md-1">
                        <a href="#/reporteCompras" class="btn btn-success btn-fab"><i class="fa fa-file"></i></a>
	                </div> 
            		<div style="float: right" class="col-md-1">
	                  	<a href="#/compra/" class="btn btn-success btn-fab"><i class="fa fa-shopping-cart"></i></a>
	                </div>                   
              	</div>
            </div>
            <!-- /.box-header -->
            <div class="panel-body">

            	<div class="row">
            		<div class="col-md-4 col-md-offset-8">

	                  <div class="input-group">
	                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
	                    <input type="text"
	                    	   class="form-control"
	                    	   placeholder="buscar"
	                    	   name="buscar"
	                    	   ng-model="buscar">
	                  </div>
            		</div>
            	</div>
              	<br><br>
    <div class="table-responsive">

              	<table class="table table-bordered table-hover">
          					<thead >
          						<th class="text-center success">#</th>
          						<th class="text-center success"><a ng-click="col='nombre_com'; reverse = !reverse;">Fecha</a></th>
          						<th class="text-center success">Total</th>
          						<th class="text-center success">Detalle</th>

          					</thead>

          					<tbody>
          						<tr ng-repeat="compra in compras.compras | filter:buscar | orderBy:col:reverse" class="text-center">
          							<td>{{ $index + 1 }}</td>
          							<td>{{ compra.fecha }}</td>
          							<td>{{ compra.subtotal | currency}}</td>
                        <td>
                          <a href="#/detalleCompra/{{ compra.id_compra }}" class="btn btn-warning btn-fab btn-fab-mini"><i class="fa fa-edit"></i> </a>
                        </td>
          						</tr>
          					</tbody>
              	</table>
                </div>
        	</div>
        	<div class="panel-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a ng-click="moverA(1)">«</a></li>

                <li ng-repeat="pag in compras.paginas"
                ng-class="{
                'active': compras.pag_actual === pag}">
                	<a ng-click="moverA(pag)">{{ pag }}</a>
                </li>


                <li><a ng-click="moverA(compras.total_paginas)">»</a></li>
              </ul>
            </div>

		</div>
	</div>

</div>
