<div class="row">

	<div class="col-md-12">
        <div class="panel panel-default">

            <div class="panel-heading with-border">
            	<div class="row">
            		<div style="float: left" class="col-md-3">
            			<h2 class="text-success">Parcelas</h2>
            		</div>
            		<div style="float: right" class="col-md-2">
	                  	<a href="#/parcela/new" class="btn btn-success btn-fab"><i class="fa fa-plus"></i>  </a>
	                </div>
              	</div>
            </div>
            <!-- /.box-header -->
            <div class="panel-body">

            	<div class="row">
            		<div class="col-md-4 col-md-offset-8">

	                  <div class="input-group">

	                    <span class="input-group-addon"><i class="fa fa-search"></i></span>
	                    <input type="text"
	                    	   class="form-control"
	                    	   placeholder="buscar"
	                    	   name="buscar"
	                    	   ng-model="buscar"
	                    	   >
	                  </div>
            		</div>
            	</div>
              	<br><br>
    <div class="table-responsive">

        <table class="table table-bordered table-hover">
					<thead >
						<th class="text-center success">#</th>
                        <th class="text-center success"><a ng-click="col='cod_parcela'; reverse = !reverse;">Código de la Unidad Productiva</a></th>
						<th class="text-center success"><a ng-click="col='pcl_fecha_plantacion'; reverse = !reverse;">Fecha de plantación</a></th>
						<th class="text-center success"><a ng-click="col='pcl_alias'; reverse = !reverse;">Alias</a></th>
						<th class="text-center success"><a ng-click="col='pcl_municipio'; reverse = !reverse;">Municipio</a></th>
						<th class="text-center success">Localidad</th>
						<th class="text-center success">Marco de Plantación </th>
						<th class="text-center success">Hectareas</th>
						<th class="text-center success">Arboles</th>
						<th class="text-center success">Primera Cosecha</th>
						<th class="text-center success">Ejido </th>
						<th class="text-center success"><a ng-click="col='pcl_estado'; reverse = !reverse;">Estatus</a></th>
						<th class="text-center success">Editar</th>
					</thead>

					<tbody>
						<tr ng-repeat="parcela in parcelas.parcelas | filter:buscar | orderBy:col:reverse" class="text-center">
							<td>{{ $index + 1 }}</td>
                            <td>{{ parcela.cod_parcela }}</td>
							<td>{{ parcela.pcl_fecha_plantacion }}</td>
							<td>{{ parcela.pcl_alias }}</td>
							<td>{{ parcela.pcl_municipio }}</td>
							<td>{{ parcela.pcl_localidad }}</td>
							<td>{{ parcela.pcl_marco_plantacion }}</td>
							<td>{{ parcela.pcl_hectareas }}</td>
							<td>{{ parcela.pcl_arboles }}</td>
							<td>{{ parcela.pcl_primera_cosecha }}</td>
							<td>{{ parcela.pcl_ejido }}</td>
							<td>{{ parcela.pcl_estado }}</td>
							<td>
								<a href="#/parcela/{{ parcela.id_parcela}}" class="btn btn-warning btn-fab btn-fab-mini"><i class="fa fa-edit"></i> </a>
							</td>
						</tr>
					</tbody>
              	</table>
                </div>
        	</div>
        	<div class="panel-footer clearfix">
              <ul class="pagination pagination-sm no-margin pull-right">
                <li><a ng-click="moverA(1)">«</a></li>

                <li ng-repeat="pag in parcelas.paginas"
                ng-class="{
                'active': parcelas.pag_actual === pag}">
                	<a ng-click="moverA(pag)">{{ pag }}</a>
                </li>
                <li><a ng-click="moverA(parcelas.total_paginas)">»</a></li>
              </ul>
            </div>

		</div>
	</div>

</div>
