
  <div class="panel panel-default">
        <div class="panel-heading with-border">
            <h2 class="text-success "><i class="fa fa-newspaper-o"></i> Noticia</h2>
        </div>
        <div class="panel-body">

          <div class="row">

            <div class="col-md-8 col-md-offset-2">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h4>{{ noticia.titulo }}</h4>
                </div>
                <div class="panel-body">
									{{ noticia.cuerpo }}
                </div>
                <div class="panel-footer text-right">{{ noticia.fecha }}</div>
                </div>
            </div>

          </div>

        </div><!-- /.box-body -->

        <div class="panel-footer">

        </div>
	</div>
